# Indipendent project week 4

# Loading our libraries

In [215]:
# import pandas
import pandas as pd


# import numpy
import numpy as np

from datetime import datetime

In [216]:
# Load our dataset

Electric_cars = pd.read_csv("http://bit.ly/autolib_dataset")
Electric_cars.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [217]:
# Let's preview the first 10 rows of our data
# 
Electric_cars.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [218]:
# Getting to know more about the dataset by accessing its information
#
Electric_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# Cleaning our dataset

# Checking for missing values

In [220]:
# Creating a function to check
def missing_values(data):

  # identify the missing values from the Electric_cars dataset
  #
  miss = data.isnull().sum().sort_values(ascending = False)
  # the percentage of missing values
  percentage = (data.isnull().sum() / len(data)).sort_values(ascending = False)
  #storing  total missing values in percentage in dataframe
  #
  missing_data = pd.DataFrame({'Total' : miss, 'Percentage' : percentage})
  #if the percentage is 0, indicates no missing values hence removed
  #
  missing_data.drop(missing_data[missing_data['Percentage'] == 0].index, inplace = True)

  return missing_data

missing_values(Electric_cars)

                   Total  Percentage
Scheduled at        4953      0.9906
Displayed comment   4889      0.9778

In [219]:
Electric_cars.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [221]:
# Creating a function to drop unnecessary columns
#
def drop_columns(data, cols):
  #drop columns not required
  data.drop(cols, axis = 1, inplace = True)

  return data

#columns to be dropped
columns = ['Cars', 'Displayed comment', 'Scheduled at', 'Charge Slots', 'Charging Status', 'Geo point', 'ID']
Electric_cars = drop_columns(Electric_cars, columns)

**Conclusion**


*   The column car was dropped since it contains similar values to those in bluecar counter. This is described in the documentation.
*   The columns Displayed comment and Scheduled had too many missing values
*   The column Geo point is used to provide location which is also provided in the column city
*  The columns Charge Slots and Charging Status are not required in the study
*   The column id is similar to address column therefore unnessecary

In [222]:
# preview the altered table contents

Electric_cars.head()

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 18 columns]

In [223]:
# Checking for outliers
# check to see if any values appear True if so they are outliers
#
Q1 = Electric_cars.quantile(0.25)
Q3 = Electric_cars.quantile(0.75)

IQR = Q3 - Q1


(Electric_cars < (Q1 - 1.5 * IQR)) |(Electric_cars > (Q3 + 1.5 * IQR))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  # This is added back by InteractiveShellApp.init_path()

      Address  Bluecar counter   City   Kind  ...   hour  minute  month   year
0       False            False  False  False  ...  False   False  False  False
1       False            False  False  False  ...  False   False  False  False
2       False            False  False  False  ...  False   False  False  False
3       False            False  False  False  ...  False   False  False  False
4       False            False  False  False  ...  False   False  False  False
...       ...              ...    ...    ...  ...    ...     ...    ...    ...
4995    False            False  False  False  ...  False   False  False  False
4996    False            False  False  False  ...  False   False  False  False
4997    False            False  False  False  ...  False   False  False  False
4998    False            False  False  False  ...  False   False  False  False
4999    False            False  False  False  ...  False   False  False  False

[5000 rows x 18 columns]

In [224]:
# If we were to keep our complete rows; meaning we drop any record with a missing value, then
#
Electric_cars = Electric_cars.dropna()

Electric_cars.shape

(5000, 18)

**Conclusion**
We did not drop any columns since there were no more missing values

In [225]:
# Checking for completeness of data
# Explanation: checking if any columns have missing values
#
Electric_cars.isnull().any()

Address                False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
City                   False
Kind                   False
Postal code            False
Public name            False
Rental status          False
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [226]:
# Procedure 1: Duplicates
# Data Cleaning Action: No action taken
# Explanation: There were no duplicate instances
#
Electric_cars.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [227]:
# Checking the names of columns
#

Electric_cars.columns

Index(['Address', 'Bluecar counter', 'Utilib counter', 'Utilib 1.4 counter',
       'City', 'Kind', 'Postal code', 'Public name', 'Rental status', 'Slots',
       'Station type', 'Status', 'Subscription status', 'year', 'month', 'day',
       'hour', 'minute'],
      dtype='object')

In [228]:
# change column names to be in lower case 
Electric_cars.columns = Electric_cars.columns.str.lower()

Electric_cars.columns

Index(['address', 'bluecar counter', 'utilib counter', 'utilib 1.4 counter',
       'city', 'kind', 'postal code', 'public name', 'rental status', 'slots',
       'station type', 'status', 'subscription status', 'year', 'month', 'day',
       'hour', 'minute'],
      dtype='object')

In [229]:
# Combine day,month and year. also add hour and minute
pd.to_datetime((Electric_cars.year*10000+Electric_cars.month*100+Electric_cars.day).apply(str),format='%Y%m%d')
Electric_cars["Datetime"] = pd.to_datetime(Electric_cars[['year', 'month', 'day', 'hour', 'minute']])
Electric_cars.head()

                              address  ...            Datetime
0                 2 Avenue de Suffren  ... 2018-04-08 11:43:00
1           145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00

[5 rows x 19 columns]

In [250]:
# Drop any other unnecessary colums
# Creating a function to drop unnecessary columns
#
def drop_columns(data, cols):
  #drop columns not required
  data.drop(cols, axis = 1, inplace = True)

  return data

#columns to be dropped
columns = ['year', 'month', 'day', 'minute']
Electric_cars = drop_columns(Electric_cars, columns)

Conclusion

We dropped the year, month, day, minute columns since we used them to create Datetime column to summarize them

In [103]:
# Checking Datetime format
#

Electric_cars['Datetime'].max()

Timestamp('2018-04-09 23:58:00')

In [251]:
# sort the data into ascending Datetime to enable there to be an order
#

from datetime import datetime

Electric_data = Electric_cars.sort_values(by='Datetime')

Sorted the Datetime column to clearly indicate dates that follow each other

In [252]:
# Creating a column for bluecar usage
Electric_data['bluecar_diff'] = Electric_cars['bluecar counter'].diff()

# Creating a column for utilib usage
Electric_data['utilib_diff'] = Electric_cars['utilib counter'].diff()

# Creating a column for utilib 1.4 usage
Electric_data['utilib_two_diff'] = Electric_cars['utilib 1.4 counter'].diff()

# preview the table
Electric_data.head()

                               address  ...  utilib_two_diff
1046  112 Rue Monge BÃ¢timent Lieu-dit  ...              0.0
1107          19 place de la Madeleine  ...              0.0
2874         44 rue SÃ©bastien Mercier  ...              0.0
2059                   2 Avenue Mozart  ...              0.0
4453          2 rue Neuve Saint-Pierre  ...              0.0

[5 rows x 18 columns]

Adding a difference column for the three car counters (bluecar counter, utilib counter and utilib 1.4 counter)

+ve number means that a car was returned -ve number means that a car was picked 0 means that nothing happened, i.e no car was picked nor returned

# Analysis

In [253]:
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018
# We selcet city == 'Paris' 

paris_data = Electric_data[Electric_data['city'] =='Paris'] 

paris_data.head()

                               address  ...  utilib_two_diff
1046  112 Rue Monge BÃ¢timent Lieu-dit  ...              0.0
1107          19 place de la Madeleine  ...              0.0
2874         44 rue SÃ©bastien Mercier  ...              0.0
2059                   2 Avenue Mozart  ...              0.0
4453          2 rue Neuve Saint-Pierre  ...              0.0

[5 rows x 18 columns]

In [254]:
# What is the most popular hour for picking cars
# this lists the hour for picking cars
#

paris_data[(paris_data.bluecar_diff < 0)].groupby('hour')['hour'].count().sort_values(ascending = False).head(1);

hour
21    80
Name: hour, dtype: int64

In [255]:
# What is the most popular hour for returning cars?
#this lists the hours for returning the cars 

paris_data[(paris_data.bluecar_diff > 0)].groupby('hour')['hour'].count().sort_values(ascending = False).head(1);

hour
3    49
Name: hour, dtype: int64

In [256]:
# What station is the most popular overall?
# 

paris_data[(paris_data['kind'] == 'STATION') & (paris_data['status'] == 'ok')].groupby('public name')['public name'].count().sort_values(ascending= False).head(1);

public name
Paris/Porte de Montrouge/8    13
Name: public name, dtype: int64

In [257]:
# What station is the most popular at the most popular picking hour?
#

paris_data[(paris_data['kind'] == 'STATION') & (paris_data['status'] == 'ok') & (paris_data['hour'] == 21)].groupby('public name')['public name'].count().sort_values(ascending= False).head(1);

public name
Paris/Tronchet/19    4
Name: public name, dtype: int64

In [202]:
# What postal code is the most popular for picking up Blue cars overall? Does the most popular station belong to that postal code?

# First find the postal code of the most popular station overall
#
paris_data[paris_data['bluecar_diff'] < 0].groupby('postal code').count()[['bluecar_diff']].sort_values(by = 'bluecar_diff', ascending = False).head(1);

             bluecar_diff
postal code
75015                 116

In [258]:
# then cross check the postal code of the  most popular station
#

paris_data[paris_data['public name'] == 'Paris/Porte de Montrouge/8'][['public name', 'postal code']].head(1)

                     public name  postal code
2112  Paris/Porte de Montrouge/8        75014

**Conclusion**

1.  The postal codes are not the same

In [259]:
# What postal code is the most popular for picking up Blue cars at the most popular picking hour? 
# Does the most popular station belong to that postal code?
# 
# First find the postal code of the most popular station at most popular picking hour

paris_data[(paris_data.bluecar_diff < 0) & (paris_data.hour == 21)].groupby('postal code').count()[['bluecar_diff']].sort_values(by = 'bluecar_diff', ascending = False).head(1)

#paris_data[(paris_data['kind'] == 'STATION') & (paris_data['status'] == 'ok') & (paris_data['hour'] == 21)].groupby('postal code')['postal code'].count().sort_values(ascending= False).head(1)

             bluecar_diff
postal code
75008                   9

In [260]:
# Then cross check the name of the most popular station

paris_data[paris_data['public name'] == 'Paris/Porte de Montrouge/8'][['public name', 'postal code']].head(1)

                     public name  postal code
2112  Paris/Porte de Montrouge/8        75014

**Conclusion**
*   The postal codes do not match

# Using Utilib counter for analysis

In [261]:
# Identify the most popular hour of the day for picking up a shared electric car (Utilib) in the city of Paris over the month of April 2018
#

paris_data[(paris_data.utilib_diff < 0)].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
19    12
Name: hour, dtype: int64

In [262]:
# What is the most popular hour for returning cars?

#Electric_paris[Electric_paris['Utilib_Diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)
paris_data[(paris_data.utilib_diff > 0)].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
6    12
Name: hour, dtype: int64

In [263]:
# What is the most popular station overall?
#

paris_data[(paris_data['kind'] == 'STATION') & (paris_data['status'] == 'ok')].groupby('public name')['public name'].count().sort_values(ascending= False).head(1)

public name
Paris/Porte de Montrouge/8    13
Name: public name, dtype: int64

In [264]:
# What station is the most popular? At the most popular picking hour?
#

paris_data[(paris_data['kind'] == 'STATION') & (paris_data['status'] == 'ok') & (paris_data['hour'] == 19)].groupby('public name')['public name'].count().sort_values(ascending= False).head(1)

public name
Paris/Porte de Montrouge/8    2
Name: public name, dtype: int64

The stations match

In [265]:
# What postal code is the most popular for picking up Blue cars overall? Does the most popular station belong to that postal code?

# First find the postal code of the most popular station overall
#
paris_data[paris_data['utilib_diff'] < 0].groupby('postal code').count()[['utilib_diff']].sort_values(by = 'utilib_diff', ascending = False).head(1)

             utilib_diff
postal code
75015                 22

In [266]:
# then cross check the postal code of the  most popular station
#

paris_data[paris_data['public name'] == 'Paris/Porte de Montrouge/8'][['public name', 'postal code']].head(1)

                     public name  postal code
2112  Paris/Porte de Montrouge/8        75014

The postal codes do not match

In [267]:
# What postal code is the most popular for picking up Blue cars at the most popular picking hour? 
# Does the most popular station belong to that postal code?
# 
# First find the postal code of the most popular station at most popular picking hour

paris_data[(paris_data.utilib_diff < 0) & (paris_data.hour == 19)].groupby('postal code').count()[['utilib_diff']].sort_values(by = 'utilib_diff', ascending = False).head(1)

             utilib_diff
postal code
75020                  4

In [268]:
# then cross check the postal code of the  most popular station
#

paris_data[paris_data['public name'] == 'Paris/Porte de Montrouge/8'][['public name', 'postal code']].head(1)

                     public name  postal code
2112  Paris/Porte de Montrouge/8        75014

Conclusion

The postal codes do not match

# Using Utilib 1.4 counter for analysis

In [269]:
# Identify the most popular hour of the day for picking up a shared electric car (Utilib 1.4 Counter) in the city of Paris over the month of April 2018
#

paris_data[(paris_data.utilib_two_diff < 0)].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
3    20
Name: hour, dtype: int64

In [270]:
# What is the most popular hour for returning cars?
#

paris_data[(paris_data.utilib_two_diff > 0)].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
9    17
Name: hour, dtype: int64

In [237]:
# What is the most popular station overall?
#

paris_data[(paris_data['kind'] == 'STATION') & (paris_data['status'] == 'ok')].groupby('public name')['public name'].count().sort_values(ascending= False).head(1)

public name
Paris/Porte de Montrouge/8    13
Name: public name, dtype: int64

In [271]:
# What station is the most popular? At the most popular picking hour?
#

paris_data[(paris_data['kind'] == 'STATION') & (paris_data['status'] == 'ok') & (paris_data['hour'] == 3)].groupby('public name')['public name'].count().sort_values(ascending= False).head(1)

public name
Paris/Quatre septembre/10    2
Name: public name, dtype: int64

In [272]:
# What postal code is the most popular for picking up Blue cars overall? Does the most popular station belong to that postal code?

# First find the postal code of the most popular station overall
#
paris_data[paris_data['utilib_two_diff'] < 0].groupby('postal code').count()[['utilib_two_diff']].sort_values(by = 'utilib_two_diff', ascending = False).head(1)

             utilib_two_diff
postal code
75015                     35

In [273]:
# then cross check the postal code of the  most popular station
#

paris_data[paris_data['public name'] == 'Paris/Porte de Montrouge/8'][['public name', 'postal code']].head(1)

                     public name  postal code
2112  Paris/Porte de Montrouge/8        75014

Conclusion

They do not match hence the most popular station does not belong to that postal code

In [274]:
# What postal code is the most popular for picking up Blue cars at the most popular picking hour? 
# Does the most popular station belong to that postal code?
# 
# First find the postal code of the most popular station at most popular picking hour

paris_data[(paris_data.utilib_two_diff < 0) & (paris_data.hour == 3)].groupby('postal code').count()[['utilib_two_diff']].sort_values(by = 'utilib_two_diff', ascending = False).head(1)

             utilib_two_diff
postal code
75016                      3

In [275]:
# then cross check the postal code of the  most popular station
#

paris_data[paris_data['public name'] == 'Paris/Quatre septembre/10'][['public name', 'postal code']].head(1)

                    public name  postal code
4175  Paris/Quatre septembre/10        75002

Conclusion

They do not match hence the most popular station does not belong to that postal code